.cart-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
  }
  
  .cart-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .cart-empty {
    text-align: center;
    color: #777;
  }

  .cart-row{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .header-row {
    font-weight: bold;
    border-bottom: 2px solid #333;
    list-style: none;
  }

  .cart-item-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-page-img {
    width: 50px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-name {
    width: 40%;
    font-size: 20px;
    margin: 0;
  }
  
  .cart-price {
    color: #555;
    margin: 5px 0;
  }
  
  .cart-qty {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .cart-remove {
    background-color: crimson;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cart-summary {
    width: 50%;
    float: right;
    margin-top: 30px;
    text-align: right;
    margin-bottom: 30px;
  }
  
  .cart-checkout {
    background-color: #088178;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-coupon{
    width: 40%;
    float: left;
    margin-top: 30px;

  }
  .coupon-label{
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
  }
   .coupon-enter{
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
   }

  .coupon-apply{
      color: #777;
      font-size: 14px;
      cursor: pointer;
  }

  .coupon-msg{
    text-align: left;
    margin-left: 5px;
  }