

.coupon-container {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    box-shadow:  inset 0 0 10px rgba(0, 0, 0, 0.05);;
    border-radius: 8px;
  }
  
  .coupon-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ac1808;
  }
  
  .coupon-form {
    display: flex;
    flex-direction: column;
  }
  
  .coupon-label {
    margin: 20px 0 5px;
  }
  
  .coupon-input {
    all: unset; /* resets all inherited styles */
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  .coupon-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff1212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .coupon-btn:hover {
    background-color: #911919;
  }
  
  .coupon-msg {
    margin-top: 15px;
    color: green;
    text-align: center;
  }
  