.forget-password-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .forget-password-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input {
    width: 94.5%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    background-color: #ff523b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #70170c;
  }
  
  .status-message {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: green;
  }
  